.character-page {
  min-height: 100vh;
  background-color: #181818;
  display: grid;
  place-content: center;
}

.character_wrapper {
  display: flex;
  gap: 3.5rem;
  padding: 2rem;
  border-radius: 5px;
  width: auto;
  // border: 2px solid white;

  .image {
    width: 80%;
    max-width: 300px;
    border-radius: 5px;
  }

  .character{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .specs{
      display: grid;
      gap: 5px;

      * {
        color: white;
      }
    }

    .btn{
      border-radius: 5px;
      border: none;
      outline: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
  }
}
