.home {
  background-color: #1c1c1c;
  min-height: 100vh;
  padding: 5rem;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
  
  input {
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
  }
}