.item-wrapper {
  padding: 2rem;
  border-radius: 5px;
  width: auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: #181818;
}

.item-details {
  font-size: 1.2rem;
  color: white;
}

.image {
  border-radius: 10px;
  width: 100px;
}