.item-wrapper {
  padding: 2rem;
  border-radius: 5px;
  width: auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border: 2px solid #181818;
  background-color: #181818;
  cursor: pointer;

  &:hover {
    border: 2px solid #f1d639;
  }
}

.item-details {
  font-size: 1.2rem;
  color: white;
}

.image {
  border-radius: 10px;
  width: 100px;
}